<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrap.min.css') }}">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  
  <title>Basic Flask App</title>

</head>

<body>

  <div class="jumbotron text-center">
    <h1>Basic flask app is running</h1>
    <p>version: &lt;version here&gt;</p>
  </div>

  <div class="container">
    <div class="row text-center">
      <img src="static/imgs/pict_fr.jpg" class="img-thumbnail">
    </div>
  </div>

</body>

</html>